* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  padding: 10px;
  font-family: sans-serif;
  background:#2C3E50;
}
.counter {
  width: 100%;
  background: white;
  margin: 100px auto;
  position: relative;

} 

.counter .time {
  padding: 60px 0px;
  text-align: center;
}

.counter .time-value {
  background:#2C3E50;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    padding: 20px;
    width: 80px; 
    margin-right:5px;
}

