* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  font-family: sans-serif;
  background-color: #3535A2
}
.counter {
  width: 100%;
    background: red;
    margin: 100px auto;
    position: relative;

} 

.counter .time {
  padding: 60px 0px;
  text-align: center;
}

.counter .time-value {
  padding: 1px;
  font-size: 500%;;
  color: #3535A2;
  line-height: 1;
}

